.topbar {
    padding-top: 1.25rem;
}

.topbarTop {
    display: flex;
    font-family: "kaori";
    justify-content: center;
}

.topbarTopLeft {
    padding: 0 3rem 0 0;
}

.topbarTopRight {
    padding: 0 3rem 0 0;
    font-size: 2rem;
}

.topbarBottom {

}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "kaori";
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}