html, body {
    font-size: 16px;
    color: #d63c28;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-image: url('../images/backgroundweb.jpg')
}

.background {
    background-color: #fff3db;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
  	box-sizing: border-box;
}

@font-face {
    font-family: "kaori";
    src: url("../fonts/KaoriGel.ttf")
}

@font-face {
    font-family: "db";
    src: url("../fonts/DB\ Adman\ X\ Li.ttf")
}

@font-face {
    font-family: "hiragano";
    src: url("../fonts/Hiragino\ Sans\ GB\ W6.ttc")
}

.container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 7200px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.banner-wrapper {
    width: calc(100% * 4 / 7);
    margin: auto;
}